*{
    box-sizing: 0px;
    margin:0px;
    padding:0px;
}
body{
    background-color:#eee;
}

.count{

}

.cell{
    width: 100px;
    height: 100px;
    background-color: #ddd;
    display:inline-block;
    float:left; 
    border:1px solid#ccc;
    cursor:pointer;
    font-size:6em;
    line-height: 100px;
    
}

.cell:hover{
    background-color: #eee;
}

#game .cO{
    color: #E04646;
}

#game .cX{
    color: #4689E0;
}

.cell:disabled{
    cursor:default;
}

#game{
    width:300px;
    height:340px;
    padding:100px;
    text-align:center;
    margin:0 auto;   
    
}

footer{
    position: fixed;
    left: 2%;
    bottom: 2%
}

#result{
    position:absolute;
    top:180px;
    right: 0;
    left: 0;
    line-height: 120px;
    width:500px;
    margin:0 auto;
    background-color: rgba(0,0,0,0.6);
    color:white;
    font-size: 5em;
}

#result p{
    font-size:30px;
}

#result a{
    text-decoration:none;
}

#resetBtn{
    height: 60px;
    border: none;
    background-color: #357929;
    padding:0px 30px;
    margin: 20px;
    color : #fff;
    font-size: 2em;
    cursor: pointer;   
}

.span6{
    display:inline;
    margin:20px;
}

.span7{
    display:inline;
    margin:20px;
}

.title{
    font-size:1.3em;
}

.title > div{
    opacity:0.3;
}
.title .active{
    opacity:1;
}

.form {
    margin:10px;
    opacity:0.5;
    border:1px solid gray;
    border-radius:5px;
    width:200px;
    height:30px;
    padding:5px;
}

.form:hover{
    opacity:.8;
}

.btn{
    width:200px;
    height:30px;
    margin-top:10px;
    opacity:1;
    background-color: rgb(170, 165, 165);
    width:90px;
}