html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    /* background: linear-gradient(#301427, #552445); */
    /* background: #ffedd4; background: -moz-linear-gradient(297deg,  #ffedd4 0%,#ffb9a2 100%); */
    /* background: -webkit-linear-gradient(297deg,  #ffedd4 0%,#ffb9a2 100%); */
    /* background: linear-gradient(297deg,#6e2e0f 0%, #eb5e28 100%); */

    /* background-color:#eb5e28; */
    /* background: linear-gradient(297deg,  #eb5e28 0%,#6e2e0f 100%); */

    /* background: #d7dadc; background: -moz-linear-gradient(to right,  #d7dadc 0%,#edf3f3 100%); background: -webkit-linear-gradient(to right,  #d7dadc 0%,#edf3f3 100%); background: linear-gradient(to right,  #d7dadc 0%,#edf3f3 100%); */

    background: linear-gradient(#141e30, #243b55);

}

/* .captcha, .cap {
    display: none;
} */

.captcha {
    margin: 0 auto;
    width: 100%;

}

span a {
    /* text-decoration: none; */
    color: white;
    margin-left: 120px;
}

span a:hover {
    color: rgb(155, 155, 155);
}

.pass {
    margin-top: -20px;
}

.captcha>img {
    /* margin: 0 auto; */
    width: 100%;
}

.captcha img {
    margin: 30px auto 15px auto;
}

.alert-success {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
}

.alert-success h1 {
    width: 50%;
    padding: 20px;
    background-color: #17f403;
    box-shadow: 0 0 5px #17f403,
        0 0 15px #17f403,
        0 0 3px #17f403,
        0 0 50px #17f403;
}

.back {
    width: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    margin-top: 500px;
}

.alertWarning {
    width: 100%;
    height: 100%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
}

.alertWarning h1 {
    width: 50%;
    padding: 20px;
    background-color: #f43303;
    box-shadow: 0 0 5px #f43303,
        0 0 15px #f43303,
        0 0 3px #f43303,
        0 0 50px #f43303;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -51%);
    background: rgba(0, 0, 0, .5);
    box-sizing: border-box;
    box-shadow: 0 25px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box .password {
       margin-bottom: 5px !important;
}

.check {
    margin-top: 20px;
}


.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .file-box .file {
    position: absolute;
    top: 0;
    opacity: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    overflow: hidden;
}

.inputFile {
    width: 70%;
    height: 50px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
    cursor: pointer;
    margin-left: 12%;
    margin-top: 30px;
}


.inputFile+label {
    width: 70%;
    height: 30px;
    text-align: center;
    font-size: 1.25em;
    font-weight: 700;
    color: #fff;
    box-shadow: 0 0 5px #03e9f4,
        0 0 10px #03e9f4,
        0 0 20px #03e9f4,
        0 0 30px #03e9f4;
    display: inline-block;
    padding: 8pt 7pt 3pt 7pt;
    -webkit-border-radius: 50pt;
    -moz-border-radius: 50pt;
    border-radius: 50pt;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-left: 12%;
}

.file-box .f:hover {
    background-color: #03e9f4;

}

.button {
    border-bottom: 1px solid #fff;
    margin-bottom: 50px;
    margin-left: 15%;
    width: 70%;
    height: 1px;
}


.login-box .file-box input:focus~.file,
.login-box .file-box input:valid~.file {
    top: -20px;
    opacity: 1;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}


.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}



.login-box form button {
    background-color: transparent;
    border: none;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    cursor: pointer;

}

.login-box button:hover {
    background: #03e9f4;
    /* -webkit-box-reflect: below 1px linear-gradient(transparent, rgba(0, 0, 0, 0.733)); */
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 70px #03e9f4;
}

.login-box button span {
    position: absolute;
    display: block;
}

.login-box button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s;
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s;
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.back a {
    position: relative;
    display: inline-block;
    padding: 10px 30px;
    color: #03e9f4;
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px;
    cursor: pointer;
}

.back a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4,
        0 0 25px #03e9f4,
        0 0 50px #03e9f4,
        0 0 100px #03e9f4;
}

.back a span {
    position: absolute;
    display: block;
}

.back a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.back a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.back a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.back a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.error {
    margin-top: -22px;
    margin-bottom: 30px;
    color: #3bff0a;
}

/* only demo styles */
.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom,
.checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    margin-bottom: 30px;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
    color: #03e9f4;
    margin-top: 0px;
    font-size: 11px;
}

.checkbox-custom+.checkbox-custom-label:before {
    content: '';
    background: #fff;
    /* border: 2px solid #ddd; */
    display: inline-block;
    vertical-align: middle;
    width: 9px;
    height: 9px;
    padding: 5px;
    /* margin-left: ; */
    margin-right: 5px;
    margin-bottom: 1px;
    box-shadow: inset 0px 0px 0px 3px #03e9f4;
    /* text-align: center; */
}


.checkbox-custom:checked+.checkbox-custom-label:before {
    background: #3bff0a;
    box-shadow: inset 0px 0px 0px 3px #ffffff;

}

.checkbox-custom:checked+.checkbox-custom-label {
    color: #3bff0a !important;
}


/* .checkbox-custom:focus + .checkbox-custom-label{
    /* outline: 1px solid #ddd; focus style */
/* } */